.user{
    border: 0.05em solid #aaa7;
    width: 100%;
    max-width: 320px;
    border-radius: 0.4em;
    padding: 1.5em 1em;
    background-color: white;
    transition: transform 200ms ease;
}

.user:hover{
    transform: scale(1.03);
}

.user h2{
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.user_list{
    display: grid;
    gap: 0.5em;
    margin-bottom: 0.2em;
}

.user_list li{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.user_list li span:nth-child(1){
    font-size: 0.7rem;
    color: #aaa;
    text-transform: uppercase;
    position: relative;
    left: 1.5em;
}

.user_list li span:nth-child(2){
    font-size:  0.8rem;
}

.user_footer{
    display: flex;
    justify-content: end;
    gap :1em;
}

.user_footer button{
    width: 2.5em;
    aspect-ratio: 1;
    border-radius: 0.4em;
    transition: tranform 200ms ease, box-shadow 200ms ease;
}

.user_footer button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.3em;
    filter: brightness(1.1)
}


.user_footer button:nth-child(1){
   color: white;
   background-color: #D93F3F;
}
.user_footer button:nth-child(2){
    color: #aaa7;
    border: 0.05em solid currentColor;
 }
 

.user_icon{
    font-size: 1.2rem;
}
